@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="container">
	<div class="row ps-5 pt-5">
		<div class=" col-md-6">
			<h1>Företag</h1>
			<p>Allt du behöver inom lia söka via oss, din praktik ska du göra hos oss</p>
			<button class="btn btn-dark">läs mer</button>
		</div>
		<div class="row col-md-6">
			<img src="https://wp.meritios.com/wp-content/uploads/2022/12/Namnlost-2.png"

		</div>
	</div>
	<div>
		<div class="text-center bg-primary">
			<h1>Företagpollen samlad i ett CRM</h1>
			<button class="btn btn-dark">läs mer</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img class="w-100 h-100" src="https://wp.meritios.com/wp-content/uploads/2022/12/Namnlost-3-1536x1536.png" />
			<h1>Digitalisering Av Lia-prossencens</h1>	
			<button class=" btn btn-success"></button>
		</div>
	</div>
</div>
